*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .image_side{
    background: url("/image/bannerImage.png");
    background-color: #2042B6;
    /* background-blend-mode: darken; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */